/* Bordered form */
.inputForm {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
.inputBlank {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.checkmark {
  height: 30px;
  width: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

/* Set a style for all buttons */
button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* InputForm.css */

/* Add padding to table cells */
td {
  padding: 10px; /* Adjust the padding as needed */
}

/* Add margin to table rows */
tr {
  margin-bottom: 20px; /* Increase the margin-bottom to add more space */
}

/* Center text in table cells */
td {
  text-align: center;
}

/* Flexbox styling for table header */
.table-header {
  display: flex;
  justify-content: space-between;
}

/* Center text in table headers */
th {
  text-align: center;
}



